.landing-container {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1512820790803-83ca734da794");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* fade effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.overlay h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 18px;
  margin-bottom: 25px;
}

.overlay button {
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  background-color: #1976d2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.overlay button:hover {
  background-color: #125aa3;
}
